
@{
    ViewBag.Title = "Influencer";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<InflucerEntity.Entity.tblInfluencer>
<form method="post">
    <div class="card-box mb-30">
        <h2 class="h4 pd-20">Influencer Listele</h2>
        <table class="data-table table nowrap">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>InstagramAddress</th>
                    <th>FacebookAddress</th>
                    <th>TwitterAddress</th>
                    <th>InstagramFollower</th>
                    <th>FacebookFollower</th>
                    <th>TwitterFollower</th>
                    <th>LastDateTime</th>
                    <th>Aktif Durumu</th>
                    <th class="datatable-nosort">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.InstagramAddress</td>
                    <td>@item.FacebookAddress</td>
                    <td>@item.TwitterAddress</td>
                    <td>@item.InstagramFollower</td>
                    <td>@item.FacebookFollower</td>
                    <td>@item.TwitterFollower</td>
                    <td>@item.LastDateTime.ToString("dd:MM:yyyy")</td>
                    @if (item.IsActive == true)
                    {
                        <td><span class="badge badge-success"><i class="fa fa-check"></i> Aktif</span></td>
                    }
                    else
                    {
                        <td><span class="badge badge-danger"><i class="fa fa-remove"></i> Pasif</span></td>
                    }
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" href="/Admin/Influencer/UpdateInfluencer/@item.ID"><i class="dw dw-edit2"></i> Güncelle</a>
                                <a class="dropdown-item" onclick="return confirm('Silmek istediğinize eminmisiniz ?')" href="/Admin/Influencer/DeleteInfluencer/@item.ID"><i class="dw dw-delete-3"></i> Sil</a>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</form>


